:root {
    --primary: rgb(255, 255, 255);
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #000000;
    border: 3px solid var(--primary);
    width: 145px;
}

.btn--outline {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    border: 3px solid #ffffff;
    transition: all 0.3s ease-out;
    width: 145px;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
    background: rgb(0, 0, 0);
    color: #ffffff;
    transition: all 0.3s ease-out;
    border-radius: 7px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover {
    background: rgb(255, 255, 255);
    color: #000000;
    border: 3px solid #000000;
    transition: all 0.3s ease-out; 
}
.btn--large:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  transition: all 0.3s ease-out;
}
