.main-container {
    background-image: url('../images/portfoliobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}

.main-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: rgb(0, 0, 0) 20px 0 10px;
}

.main-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: rgb(0, 0, 0) 20px 0 10px;
}

.main-btns {
    margin-top: 32px;
}

.main-btns .btn {
    margin: 9px;
}

.main-social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

  /* Social Icons */
  .main-social-icon-link {
    color: #fff;
    font-size: 54px;
  }
