.main-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}


.info-container > h1 {
    color: rgb(0, 0, 0);
    font-size: 100px;
    margin-top: -55px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.info-container > p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info-container > img {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
}

.main-btns {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-btns .btn {
    margin: 9px;
    border-radius: 10px;
}

.sub-btns {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-btns .btn {
  margin: 9px;
  border-radius: 10px;
}

.main-social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
   
}

  /* Social Icons */
  .main-social-icon-link {
    color: rgb(0, 0, 0);
    font-size: 54px;
    padding: 20px;
  }

.first-img img{
    height: 700px;
    margin-bottom: 50px;
    
}

@media screen and (max-width: 960px) {
    .main-container {
      font-size: 70px;
      margin-top: 150px;
      margin-bottom: 150px;
      height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    }
  }
  
  @media screen and (max-width: 768px) {
    .main-container{
      font-size: 50px;
      margin-top: 150px;
      margin-bottom: 150px;
      height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    }
  
    .main-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }