/* .skills-container {
  height: 175vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  margin-top: 150px;
  margin-bottom: 150px;
} */

.skills-header {
  align-items: center;
}

.skills-frontend {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.frontend-header {
  font-size: 25px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.frontend-img-language {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.frontend-languages {
  font-size: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.frontend-languages i {
  padding: 10px;
}

.frontend-img img {
  height: 600px;
  margin-top: 20px;
  margin-right: 300px;
}

.skills-backend {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 100px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.backend-header {
  font-size: 25px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.backend-img-language {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
}

.backend-languages {
  font-size: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backend-languages i {
  padding: 10px;
}

.backend-img img {
  height: 600px;
  margin-top: 20px;
  margin-left: 300px;
}

.skills-mobile {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 140px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.mobile-header {
  font-size: 25px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.mobile-img-language {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.mobile-languages {
  font-size: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.mobile-languages i {
  padding: 10px;
}

.mobile-img img {
  height: 620px;
  margin-top: 20px;
  margin-right: 300px;
}




@media only screen and (min-width: 1200px) {
  .content__blog__container {
    margin-top: 70px;
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    margin-top: 70px;
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-top: 70px;
    margin-bottom: 2rem;
  }
}
